In [26]:
import numpy as np
import pandas as pd
import pickle
import re
import os
import math

In [2]:
# Set model name here, options = {'iMM904', 'iYO844', 'iML1515'}
model_name = 'iYO844'

## Load Data and Get Node Feature
---

### 1. Reaction data - `{model_name}_Model.csv`

In [4]:
model = pd.read_csv('../../raw/models/{}_Model.csv'.format(model_name))
if model_name == 'iMM904':
    model.rename(columns={'Kcat': 'kcat'}, inplace=True)
    model.rename(columns={'Km': 'km'}, inplace=True)
if model_name == 'iYO844':
    model.rename(columns={'BSU': 'Rule'}, inplace=True)
if model_name == 'iML1515':
    model.rename(columns={'meta_name': 'reac_meta_name'}, inplace=True)

print(model.shape)
# Drop useless columns
model = model.loc[:, ['Rule', 'reac_meta_name', 'reac_meta_value', 'Gibbs', 'kcat', 'km']]
model.head()

(1521, 15)

       Rule reac_meta_name  reac_meta_value       Gibbs  kcat      km
0  BSU00090          imp_c             -1.0  -244.30493   NaN  0.0243
1  BSU00090          xmp_c              1.0   -291.6249   NaN     NaN
2  BSU00140         dcmp_c              1.0   -206.3048   NaN     NaN
3  BSU00140         dcyt_c             -1.0   17.714563   NaN     NaN
4  BSU00140          adn_c             -1.0    87.03457   NaN     NaN

### 2. Molecule data - `{model_name}_mvec.csv`

In [5]:
mvec = pd.read_csv('../../raw/models/{}_mvec.csv'.format(model_name))
if model_name == 'iML1515':
    mvec.rename(columns={'meta_name': 'reac_meta_name'}, inplace=True)
    
print(mvec.shape)
mvec = mvec.drop(columns=['SMILES'])
mvec.head()

(619, 130)

,reac_meta_name,0,1,2,3,4,5,6,7,8,...,118,119,120,121,122,123,124,125,126,127
0,istnt_c,0.034616,0.052344,-0.032405,0.053052,-0.000082,-0.009388,-0.003238,-0.019588,0.006186,...,-0.007310,-0.001641,0.032719,-0.041696,0.001186,-0.010220,-0.033718,0.046453,0.007658,0.020313
1,hmbil_c,0.064757,0.106059,-0.085903,0.128846,0.018197,-0.014582,-0.001312,-0.049914,0.016280,...,-0.026731,0.008829,0.069371,-0.088491,0.002651,-0.033185,-0.076106,0.087244,0.015458,0.031300
2,tag6p__D_c,0.078863,0.114675,-0.105692,0.158943,0.023062,-0.020216,0.002675,-0.065022,0.022953,...,-0.025510,0.011606,0.070363,-0.117186,-0.005045,-0.047840,-0.076804,0.101711,0.004547,0.045300
3,fruur_c,0.068635,0.094918,-0.089442,0.126414,0.008797,-0.012519,0.002537,-0.058893,0.017126,...,-0.021080,0.003307,0.066820,-0.096962,-0.007166,-0.044819,-0.071273,0.095626,0.008698,0.032080
4,g3pg_c,0.066607,0.091234,-0.090395,0.127275,0.014320,-0.011735,0.003785,-0.055166,0.028846,...,-0.017062,0.004865,0.060276,-0.098263,-0.004310,-0.029819,-0.063236,0.089087,0.005903,0.026193

### 3. Enzyme feature - `{model_name}.pkl`

```
e_feature_dict = {enzyme_Rule: {'logits':(1600*1600*2), 'single':(1600)}}
```

In [6]:
# Save all enzyme features after PCA to one pickle dictionary
# Only apply when where is 'bsu_pca' under '/../../raw/af2/bsu_pca'

e_feature_dict = dict()
for root, dirs, files in os.walk('../../raw/af2/bsu_pca/'):
    for file in files:
        if file.endswith(".pkl"):
            data = pickle.load(open(f'../../raw/af2/bsu_pca/{file}', 'rb'))
            enzyme_name = file.split('.')[0]

            ori_logits = data['logits']
            ori_single = data['single']

            padded_logits = np.pad(ori_logits,
                                   ((0, 1600-ori_logits.shape[0]), (0, 1600-ori_logits.shape[0])), 'constant')
            padded_single = np.pad(
                ori_single, ((0, 1600-ori_single.shape[0])), 'constant')

            result = {'logits': padded_logits, 'single': padded_single}
            e_feature_dict[enzyme_name] = result


with open('../../raw/af2/{}_{}.pkl'.format(model_name, 'e_feature'), 'wb') as f:
    pickle.dump(e_feature_dict, f)

In [30]:
ori = np.zeros((250, 250, 2))
new = np.pad(ori, ((0, 1600-ori.shape[0]), (0, 1600-ori.shape[0]), (0, 0)), 'constant')
new.shape

(1600, 1600, 2)

In [7]:
e_feature_dict = pickle.load(open('../../raw/af2/{}_{}.pkl'.format(model_name, 'e_feature'), 'rb'))
print(len(e_feature_dict))
print(e_feature_dict[list(e_feature_dict.keys())[0]].keys())
print('Shape of logits: {}'.format(e_feature_dict[list(e_feature_dict.keys())[0]]['logits'].shape))
print('Shape of single: {}'.format(e_feature_dict[list(e_feature_dict.keys())[0]]['single'].shape))

826
dict_keys(['logits', 'single'])
Shape of logits: (1600, 1600)
Shape of single: (1600,)

### 4. Molecule feature - combine the reaction data and molecule data

```
m_feature_dict = {reac_meta_name: list of features}
```

In [8]:
m_feature_dict = dict()

# extract the Gibbs info of each molecule from reaction data
Gibbs = model.loc[:, ['reac_meta_name', 'Gibbs']].drop_duplicates(
    subset='reac_meta_name', keep='first')
Gibbs.set_index('reac_meta_name', inplace=True)

## convert Gibbs into float
Gibbs['Gibbs'] = Gibbs['Gibbs'].apply(lambda x: re.sub("[^-.0-9]", "", str(x)))
Gibbs['Gibbs'] = Gibbs['Gibbs'].apply(lambda x: float(x) if x != '' else 0.0)


def convert_feature_to_list(x):
    reac_meta_name = x['reac_meta_name']
    gibbs_value = [float(Gibbs.loc[reac_meta_name, 'Gibbs'])]
    return gibbs_value + list(x['0':'127'])


mvec['feature'] = mvec.apply(convert_feature_to_list, axis=1)

m_feature_dict_t = mvec.loc[:, ['reac_meta_name', 'feature']].set_index(
    'reac_meta_name').to_dict('index')

for k in m_feature_dict_t:
    m_feature_dict[k] = m_feature_dict_t[k]['feature']
    

print(len(m_feature_dict))
print('Dimension of the molecule feature: {}'.format(len(m_feature_dict[list(m_feature_dict.keys())[0]])))

619
Dimension of the molecule feature: 129

## Data Clean for Construct the Reaction Graph
---

Enzyme:

- Some enzymes in model do not have af2 output
- i.e. delete the rows in model that refer to enzyme without key in enzyme_feature_dict

Molecule:

- Some molecules in model do not have mvec infomation
- i.e. delete the rows in model that refer to molecules without info in mvec

In [9]:
# Check missing enzymes in af2 output
e_model = list(model['Rule'].unique())      # enzymes in model sheet
e_af2 = list(e_feature_dict.keys())    # enzymes in af2 output

enzymes = pd.DataFrame({'model': e_model}, columns=['model'])
enzymes['in_af2'] = enzymes['model'].apply(lambda x: x in e_af2)

no_af2_output = enzymes[enzymes['in_af2'] == False].model
print('Number of enzyme without af2 output = {}'.format(len(no_af2_output)))
print(list(no_af2_output))

Number of enzyme without af2 output = 2
['BSU02480', 'BSU31980']

In [10]:
# Delete the rows in model that refer to enzyme without af2 output
print('> Delete the rows in model that refer to enzyme without af2 output')

print('Before deleting, there are {} links in model.'.format(model.shape[0]))
model_new = model.loc[:]
model_new['in_af2_output'] = model_new['Rule'].apply(
    lambda x: x in e_feature_dict.keys())
model_new = model_new[model_new['in_af2_output'] == True]
print('After deleting, there are {} links in model.'.format(
    model_new.shape[0]))
model_new.head()

> Delete the rows in model that refer to enzyme without af2 output
Before deleting, there are 1521 links in model.
After deleting, there are 1515 links in model.

,Rule,reac_meta_name,reac_meta_value,Gibbs,kcat,km,in_af2_output
0,BSU00090,imp_c,-1.0,-244.30493,NaN,0.0243,True
1,BSU00090,xmp_c,1.0,-291.6249,NaN,NaN,True
2,BSU00140,dcmp_c,1.0,-206.3048,NaN,NaN,True
3,BSU00140,dcyt_c,-1.0,17.714563,NaN,NaN,True
4,BSU00140,adn_c,-1.0,87.03457,NaN,NaN,True

In [11]:
# Delete the rows in model that refer to molecules without mvec infomation
print('> Delete the rows in model that refer to molecules without mvec infomation')

print('Before deleting, numer of links in model: {}'.format(
    model_new.shape[0]))
model_moles = model_new.reac_meta_name.unique()     # molecules in model sheet
mvec_moles = mvec.reac_meta_name.unique()           # molecules in mvec

model_new['mol_in_mvec'] = model_new['reac_meta_name'].apply(
    lambda x: x in list(mvec_moles))
model_new = model_new[model_new['mol_in_mvec'] == True]
print('After deleting, numer of links in model: {}'.format(model_new.shape[0]))
model_new.head()

> Delete the rows in model that refer to molecules without mvec infomation
Before deleting, numer of links in model: 1515
After deleting, numer of links in model: 1458

,Rule,reac_meta_name,reac_meta_value,Gibbs,kcat,km,in_af2_output,mol_in_mvec
0,BSU00090,imp_c,-1.0,-244.30493,NaN,0.0243,True,True
1,BSU00090,xmp_c,1.0,-291.6249,NaN,NaN,True,True
2,BSU00140,dcmp_c,1.0,-206.3048,NaN,NaN,True,True
3,BSU00140,dcyt_c,-1.0,17.714563,NaN,NaN,True,True
4,BSU00140,adn_c,-1.0,87.03457,NaN,NaN,True,True

## GraphNN Data
---

### Node

#### enzyme

In [12]:
num_e = model_new['Rule'].unique().shape[0]
print('Number of nodes of node_type_id 0: {}'.format(num_e))

# node_id, node_name, node_type_id
node_e = pd.DataFrame({'node_id': np.arange(num_e), 'node_name': model_new['Rule'].unique(), 'node_type_id': np.zeros_like(model_new['Rule'].unique())},
                      columns=['node_id', 'node_name', 'node_type_id'])

# enzyme_feature
def convert_feature_to_list(x):
    return e_feature_dict[x]


node_e['node_feature'] = node_e['node_name'].apply(convert_feature_to_list)
feat_len_e = len(node_e.iloc[0, 3])
print('Length of the enzyme feature: {}'.format(feat_len_e))

node_e

Number of nodes of node_type_id 0: 384
Length of the enzyme feature: 2

,node_id,node_name,node_type_id,node_feature
0,0,BSU00090,0,"{'logits': [[19.581642, -15.330734, -12.3731, ..."
1,1,BSU00140,0,"{'logits': [[37.44548, -5.164447, -2.6643798, ..."
2,2,BSU00150,0,"{'logits': [[29.771925, -7.539098, -5.8310566,..."
3,3,BSU00180,0,"{'logits': [[48.52335, 8.085651, 7.698195, 6.7..."
4,4,BSU00270,0,"{'logits': [[14.981688, -19.190962, -10.923376..."
...,...,...,...,...
379,379,BSU40190,0,"{'logits': [[20.193998, -18.742842, -16.95475,..."
380,380,BSU40320,0,"{'logits': [[4.1331844, -13.998642, -9.914898,..."
381,381,BSU40340,0,"{'logits': [[17.642204, -13.6244755, -11.74872..."
382,382,BSU40420,0,"{'logits': [[13.764095, -18.00769, -11.966258,..."
383,383,BSU40850,0,"{'logits': [[38.041904, 0.94647855, 1.873882, ..."

#### molecule

In [13]:
num_m = model_new['reac_meta_name'].unique().shape[0]
print('Number of nodes of node_type_id 1: {}'.format(num_m))

# node_id, node_name, node_type_id
node_m = pd.DataFrame({'node_id': np.arange(num_e, num_e+num_m),
                       'node_name': model_new['reac_meta_name'].unique(),
                       'node_type_id': np.ones_like(model_new['reac_meta_name'].unique())},
                      columns=['node_id', 'node_name', 'node_type_id'])

# mol_feature
def convert_feature_to_list(x):
    return m_feature_dict[x]


node_m['node_feature'] = node_m['node_name'].apply(convert_feature_to_list)
feat_len_m = len(node_m.iloc[0, 3])
print('Length of the molecule feature: {}'.format(feat_len_m))

node_m

Number of nodes of node_type_id 1: 616
Length of the molecule feature: 129

,node_id,node_name,node_type_id,node_feature
0,384,imp_c,1,"[-244.30493, 0.043830927, 0.07581868, -0.05839..."
1,385,xmp_c,1,"[-291.6249, 0.05696255, 0.089833654, -0.069855..."
2,386,dcmp_c,1,"[-206.3048, 0.047462117, 0.070710495, -0.04960..."
3,387,dcyt_c,1,"[17.714563, 0.044684604, 0.07995401, -0.070259..."
4,388,adn_c,1,"[87.03457, 0.038609814, 0.05554623, -0.0555064..."
...,...,...,...,...
611,995,msa_c,1,"[-81.3787, 0.026036164, 0.046005037, -0.039838..."
612,996,2pcpgc_c,1,"[-162.07196, 0.058406197, 0.10162693, -0.07970..."
613,997,quc_c,1,"[-101.98197, 0.059084572, 0.100022756, -0.0800..."
614,998,glcn__D_c,1,"[-157.02974, 0.04241948, 0.055048183, -0.05639..."
615,999,acmalt_c,1,"[-167.7031, 0.064256, 0.0851914, -0.08319832, ..."

In [14]:
node = pd.concat((node_e.loc[:, ['node_id', 'node_name', 'node_type_id', 'node_feature']],
                  node_m.loc[:, ['node_id', 'node_name', 'node_type_id', 'node_feature']]), axis=0)

node

,node_id,node_name,node_type_id,node_feature
0,0,BSU00090,0,"{'logits': [[19.581642, -15.330734, -12.3731, ..."
1,1,BSU00140,0,"{'logits': [[37.44548, -5.164447, -2.6643798, ..."
2,2,BSU00150,0,"{'logits': [[29.771925, -7.539098, -5.8310566,..."
3,3,BSU00180,0,"{'logits': [[48.52335, 8.085651, 7.698195, 6.7..."
4,4,BSU00270,0,"{'logits': [[14.981688, -19.190962, -10.923376..."
...,...,...,...,...
611,995,msa_c,1,"[-81.3787, 0.026036164, 0.046005037, -0.039838..."
612,996,2pcpgc_c,1,"[-162.07196, 0.058406197, 0.10162693, -0.07970..."
613,997,quc_c,1,"[-101.98197, 0.059084572, 0.100022756, -0.0800..."
614,998,glcn__D_c,1,"[-157.02974, 0.04241948, 0.055048183, -0.05639..."
615,999,acmalt_c,1,"[-167.7031, 0.064256, 0.0851914, -0.08319832, ..."

#### Save to `node.pkl`

In [15]:
node.to_pickle('./{}/node.pkl'.format(model_name))
print('Node info saved to ./{}/node.pkl'.format(model_name))
node = pickle.load(open('./{}/node.pkl'.format(model_name), 'rb'))

Node info saved to ./iYO844/node.pkl

#### Get the `id_dict`, a dictionary where keys are the node_name and the values are node_id

In [16]:
# Get a dictionary where keys are the node_name and the values are node_id
id_dict_t = node.loc[:, ['node_name', 'node_id']
                     ].set_index('node_name').to_dict('index')
id_dict = dict()
for k in id_dict_t:
    id_dict[k] = id_dict_t[k]['node_id']

print(len(id_dict))

1000

### Link

In [17]:
# Get reaction relations
link = model_new.loc[:, ['Rule', 'reac_meta_name', 'reac_meta_value']]
link.columns = ['enzyme_name', 'mole_name', 'reac_value']

# Get the index of the enzyme and molecule
link['e_idx'] = link['enzyme_name'].apply(lambda x: id_dict[x])
link['m_idx'] = link['mole_name'].apply(lambda x: id_dict[x])

# edge_type_id
link['edge_type_id'] = link['reac_value'].apply(lambda x: 1 if x > 0 else 0)

# node_id_source
link['node_id_source'] = link.apply(
    lambda x: x['e_idx'] if x['edge_type_id'] == 1 else x['m_idx'], axis=1)

# node_id_target
link['node_id_target'] = link.apply(
    lambda x: x['m_idx'] if x['edge_type_id'] == 1 else x['e_idx'], axis=1)

# edge_weight
link['edge_weight'] = link['reac_value'].apply(lambda x: abs(x))

# Reorganize the dataframe
link = link.loc[:, ['node_id_source',
                    'node_id_target', 'edge_type_id', 'edge_weight']]
link.sort_values(by=['edge_type_id', 'node_id_source'], inplace=True)
link

      node_id_source  node_id_target  edge_type_id  edge_weight
0                384               0             0          1.0
208              384              60             0          1.0
1517             384             382             0          1.0
184              385              54             0          1.0
256              385              64             0          1.0
...              ...             ...           ...          ...
1510             380             921             1          1.0
1512             381             632             1          1.0
1513             381             435             1          1.0
1516             382             514             1          1.0
1519             383             999             1          1.0

[1458 rows x 4 columns]

#### Save to link.dat

In [18]:
link.to_csv('{}/link.dat'.format(model_name),
            sep='\t', index=False, header=False)
print('Link info saved to ./{}/link.dat'.format(model_name))

Link info saved to ./iYO844/link.dat

In [21]:
label_temp = model_new.loc[:, ['Rule', 'km', 'kcat']]
label_temp.columns = ['node_name', 'km', 'kcat']

# drop rows without target information
label_temp = label_temp[label_temp.apply(lambda x: check_nan(x), axis=1)]

# node_id
label_temp['node_id'] = label_temp['node_name'].apply(lambda x: id_dict[x])

# node_label
label_temp['node_label'] = label_temp.apply(lambda x: get_combined_label(x), axis=1)

label_temp[label_temp['node_label'].apply(lambda x: x == [0, 0])]

    node_name   km  kcat  node_id  node_label
382  BSU11610  1.0   NaN       89  [0.0, 0.0]
774  BSU23380  1.0   NaN      207  [0.0, 0.0]

### Label

In [22]:
def get_combined_label(x, target='km'):
    km, kcat = 0.0, 0.0
    
    if target == 'km':
        km = math.log(x['km'])
    elif target == 'kcat':
        kcat = math.log(x['kcat'])

    return km#[km, kcat]


def check_nan(x, target='km'):
    if target == 'km':
        return (not pd.isnull(x['km']))
    elif target == 'kcat':
        return (not pd.isnull(x['kcat']))
    
    
def cal_mean_label(df):
    l = list(df['node_label'])
    arr = np.array(l)
    return np.mean(arr, axis=0)
    

def get_link_df(model_new, target='km'):
    label_temp = model_new.loc[:, ['Rule', 'km', 'kcat']]
    label_temp.columns = ['node_name', 'km', 'kcat']

    # drop rows without target information
    label_temp = label_temp[label_temp.apply(lambda x: check_nan(x, target), axis=1)]

    # node_id
    label_temp['node_id'] = label_temp['node_name'].apply(lambda x: id_dict[x])
    
    # node_label
    label_temp['node_label'] = label_temp.apply(lambda x: get_combined_label(x, target), axis=1)
    
    # get the mean of the node_label
    node_labels = label_temp.groupby(['node_id']).apply(cal_mean_label)
    label = pd.DataFrame(node_labels)
    label.columns = ['node_label']
    label.reset_index(inplace=True)
    
    # node_type_id
    label['node_type_id'] = np.zeros(label.shape[0], dtype=int)
    
    label = label.loc[:, ['node_id', 'node_type_id', 'node_label']]
    
    return label

label = get_link_df(model_new, 'km')
label

    node_id  node_type_id  node_label
0         0             0   -3.717279
1        31             0    3.401197
2        33             0   -1.272966
3        38             0    2.736314
4        47             0    3.181174
5        50             0    2.397895
6        64             0   -0.993306
7        79             0   -4.828314
8        80             0   -6.907755
9        88             0    1.609438
10       89             0    0.000000
11       91             0    3.526343
12       93             0    0.482426
13      108             0   -4.422849
14      110             0   -4.721704
15      118             0   -2.995732
16      119             0   -0.145026
17      131             0   -0.105361
18      150             0    0.604346
19      155             0    3.295837
20      159             0    0.530628
21      165             0    2.079442
22      167             0   -0.846765
23      171             0    2.163323
24      185             0    0.703098
25      189             0   -0.261365
26      191             0    0.693147
27      193             0   -2.830218
28      195             0   -3.411248
29      203             0   -3.314116
30      204             0   -2.233992
31      207             0    0.000000
32      211             0    1.609438
33      212             0   -2.171557
34      215             0   -1.153565
35      230             0   -1.488200
36      232             0   -1.966113
37      240             0    1.098612
38      252             0   -8.016418
39      266             0   -1.643711
40      267             0   -5.221356
41      283             0   -1.472724
42      288             0   -1.427116
43      296             0    3.970292
44      302             0   -4.972155
45      304             0    1.365280
46      318             0   -5.215899
47      319             0    0.385262
48      324             0    1.238374
49      325             0   -3.729701
50      326             0   -1.580328
51      332             0   -3.036554
52      334             0    0.336472
53      366             0    1.902108
54      367             0   -2.563950
55      373             0    3.688879
56      374             0    2.415914
57      375             0   -1.366176
58      376             0   -5.453802
59      382             0   -0.385662

#### Save to label.dat

In [25]:
from sklearn.model_selection import train_test_split

label_train, label_test = train_test_split(label, test_size=0.3)

def save_sing_label(label, file_name):
    label.to_csv('{}/{}'.format(model_name, file_name), sep='\t', index=False,
                 header=False, columns=['node_id', 'node_type_id', 'node_label'])
    label = label.loc[:, ['node_id', 'node_type_id', 'node_label']]
    print('{} saved to ./{}/{}'.format(file_name, model_name, file_name))
    print('Samples number: {}'.format(label.shape[0]))
    

def save_dual_label(label, file_name):
    label['node_label_to_save'] = label['node_label'].apply(
        lambda x: str(x).split('[')[1].split(']')[0])
    label.to_csv('{}/{}'.format(model_name, file_name), sep='\t', index=False,
                 header=False, columns=['node_id', 'node_type_id', 'node_label_to_save'])
    label = label.loc[:, ['node_id', 'node_type_id', 'node_label']]
    print('{} saved to ./{}/{}'.format(file_name, model_name, file_name))
    print('Samples number: {}'.format(label.shape[0]))
    
# save_label(label_mean, 'label')
save_sing_label(label_train, 'label.dat')
save_sing_label(label_test, 'label.dat.test')

label.dat saved to ./iYO844/label.dat
Samples number: 42
label.dat.test saved to ./iYO844/label.dat.test
Samples number: 18